/*****************************************/
/*                GENERAL                */
/*****************************************/

* {
    margin: 0rem;
    padding: 0rem;
}

html {
    --default-width: 12em;
    --default-height: 8em;
}


body {
    width: 90%;
    margin: 0 auto;
}

/* russ & daughters container */
body > header:nth-child(1) {
    width: calc(1.5 * var(--default-width));
    height: calc(1.5 * var(--default-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: sticky;
}

/* russ & daughters title */
body > header:nth-child(1) h1 {
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    text-transform: uppercase;
    font-family: 'Lexend Mega', sans-serif;
}

/* appetizing since 1924 */
body > header:nth-child(1) p {
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 1em;
}


h2 {}

h3 {}

p {}

div {}

span {}

em {}

main {
    width: 90%;
    margin: 0 auto;
}

section {}

article {}

header {
    background-color: green;
}

blockquote {}

cite {}


/*****************************************/
/*          H2 SPECIFIC STYLING          */
/*****************************************/


/*****************************************/
/*          H3 SPECIFIC STYLING          */
/*****************************************/


/*****************************************/
/*          P SPECIFIC STYLING           */
/*****************************************/


/*****************************************/
/*         DIV SPECIFIC STYLING          */
/*****************************************/


/*****************************************/
/*         SPAN SPECIFIC STYLING         */
/*****************************************/


/*****************************************/
/*          EM SPECIFIC STYLING          */
/*****************************************/


/*****************************************/
/*       SECTION SPECIFIC STYLING        */
/*****************************************/
main > section:nth-child(1) {
    background-color: orange;
}

main > section:nth-child(2) {
    background-color: royalblue;
}

main > section:nth-child(3) {
    background-color: mediumpurple;
}

main > section:nth-child(4) {
    background-color: yellow;
}

main > section:nth-child(5) {
    background-color: grey;
}

main > section:nth-child(6) {
    background-color: crimson;
}

main > section:nth-child(7) {
    background-color: burlywood;
}


/*****************************************/
/*        ARTICLE SPECIFIC STYLING       */
/*****************************************/

/*
section article:nth-child(3):not(main > section:nth-child(1), section:nth-child(2), section:nth-child(3), section:nth-child(5), section:nth-child(6)) {
    background-color: aqua;
}
*/

/*
section article:nth-child(2),
main > section:nth-child(4) article:nth-child(3),
main > section:nth-child(7) article:nth-child(3) {
    background-color: aqua;
}
*/

section article:first-of-type {
    background-color: aqua;
    width: var(--default-width);
    height: var(--default-height);
}


/*****************************************/
/*      BLOCKQUOTE SPECIFIC STYLING      */
/*****************************************/


/*****************************************/
/*         CITE SPECIFIC STYLING         */
/*****************************************/
